body {
    /* background-image: url('../IMAGE/Cama\ cuna\ dubai.jpg');
    background-repeat: no-repeat;
    background-position: center; */

    background: url( '../IMAGE/Cama\ cuna\ dubai.jpg') no-repeat center;

}

div{
    width: 200px;
    height: 200px;
    /* background-color: rgb(50, 45, 8) */
    /* background-color: #ffffff; */
    background-color: hsl (0, 6%, 65%);
    /* border-style: solid;
    border-width: 16px;
    border-color: red; */
    border: 0.5em solid red;
    /* border-radius: 200px; */
    /* margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 50px; */
    margin: 50px, 50px, 50px, 50px;
    /* padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px; */
    padding: 10px 0px 10px 10px;
}
    /* .flex container {
        display: flex;
        /* flex-direction: column-reverse; */
        /* flex-wrap: wrap;  */
    /* } */
    /* .justify-content-start { */
        /* justify-content: flex-start
    }
    .justify-content-center {
        justify-content: center */
    /* }
    .justify-content-end {
        justify-content: flex-end
    }
    align-items-top {
        align-items: flex-start
    }
    align-items-center {
        align-items: center */ 

/* } */

p {
    text-align: left;
    text-decoration: underline;
    text-decoration: line-through;
    text-decoration: overline;
    text-transform: lowercase;
    text-indent: 10px;
    letter-spacing: 10px;
    line-height: 20px;
    font-family: 'Open Sans';
}